" Plugins
set commentary
set surround
set NERDTree

" Config
set number relativenumber
set nu rnl
set clipboard+=unnamed

" Mappings
nmap gi :action GotoImplementation<cr>
nmap rn :action RenameElement<cr>
nmap u :action $Undo<cr>
nmap U :action $Redo<cr>
