" Plugins
set commentary
set surround
set NERDTree
set sneak

" Config
set number relativenumber
set nu rnu
set clipboard+=unnamed
set clipboard+=ideaput

" Mappings
nmap gi :action GotoImplementation<CR>
nmap rn :action RenameElement<CR>

nmap <A-q> :action CloseEditor<CR>
nmap <leader>xa :action CloseAllEditors<CR>
nnoremap <leader>rl :action IdeaVim.ReloadVimRc.reload<CR>

