" Plugins
set commentary
set surround
set NERDTree

" Config
set number relativenumber
set nu rnu

" Mappings
nmap gi :action GotoImplementation<CR>
nmap <space>rn :action RenameElement<CR>
nmap <space>e :NERDTreeFocus<CR>
nmap <A-e> :action RecentFiles<CR>
nmap rr :action Run<CR>
nmap <space>x :action CloseActiveTab<CR>
